* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.websitepage {
  /* .u-rainbow {
      background-image: conic-gradient(from 180deg at 50% 50%, #ebf6f2 0deg, #e7f3e0 56.3deg, #e5eff8 118.8deg, #fef1d8 176.4deg, #f7f4fa 237.6deg, #f7dbe5 295.2deg, #ebf6f2 360deg);
  } */
}
.websitepage a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
.websitepage input,
.websitepage textarea {
  -webkit-appearance: none;
  outline: none !important;
}
.websitepage .w-richtext > :first-child {
  margin-top: 0;
}
.websitepage .w-richtext > :last-child {
  margin-bottom: 0;
}
.websitepage section:focus {
  outline: none;
}
.websitepage .u-blur-perf {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.websitepage .u-no-select {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.websitepage .cta:hover .cta-bg {
  opacity: 1;
}
.websitepage .input:focus ~ .input-bg,
.websitepage .input:hover ~ .input-bg {
  opacity: 1;
}
.websitepage .cc-cta-banner .input:focus ~ .input-bg,
.websitepage .cc-cta-banner .input:hover ~ .input-bg {
  opacity: 0.2;
}
.websitepage .modal-wrap.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.websitepage .modal-wrap.open .modal {
  -webkit-animation: modalIn 0.25s ease-out backwards;
          animation: modalIn 0.25s ease-out backwards;
}
.websitepage .modal-wrap.open .modal-bg {
  -webkit-animation: modalBg 0.2s ease-out backwards;
          animation: modalBg 0.2s ease-out backwards;
}
@-webkit-keyframes modalIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes modalIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes modalBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.websitepage .u-hidden {
  display: none !important;
}
.websitepage .nav.open {
  position: fixed;
  bottom: 0;
}
.websitepage .nav.open .nav-mobile-menu {
  display: block;
  -webkit-animation: menuIn 0.5s ease backwards;
          animation: menuIn 0.5s ease backwards;
}
.websitepage .nav.open .mobile-menu-fade {
  -webkit-animation: linkFade 0.4s ease backwards;
  animation: linkFade 0.4s ease backwards;
  -webkit-animation-delay: var(--delay);
  animation-delay: var(--delay);
}
@-webkit-keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-5px);
  }
  to {
    opacity: auto;
    -webkit-transform: translateY(0px);
  }
}
@keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    opacity: auto;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes menuIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menuIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 1500px) {
  .websitepage .svg-embed.cc-logo-icon {
    width: 150px;
  }
  .websitepage .svg-embed.cc-logo-word {
    width: 98px;
  }
  .websitepage .nav-link {
    font-size: 17px;
  }
  .websitepage .eyebrow-pill {
    font-size: 14px;
  }
  .websitepage .home-hero-heading {
    font-size: 92px;
  }
  .websitepage .subheading {
    font-size: 20px;
  }
  .websitepage .heading-m {
    font-size: 24px;
  }
  .websitepage .section-heading {
    font-size: 64px;
  }
}
.websitepage .hero .eyebrow-pill {
  -webkit-animation: fadeIn 0.65s ease-in-out backwards;
          animation: fadeIn 0.65s ease-in-out backwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.websitepage .home-hero-heading {
  -webkit-animation: fadeIn 0.65s ease-in-out backwards;
          animation: fadeIn 0.65s ease-in-out backwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.websitepage .home-hero-subheading {
  -webkit-animation: fadeIn 0.65s ease-in-out backwards;
          animation: fadeIn 0.65s ease-in-out backwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.websitepage .hero .form-wrap {
  -webkit-animation: fadeIn 0.65s ease-in-out backwards;
          animation: fadeIn 0.65s ease-in-out backwards;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.websitepage .home-hero-img-wrap {
  -webkit-animation: portalIn 0.65s ease-in-out backwards;
          animation: portalIn 0.65s ease-in-out backwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.websitepage .home-hero-mockup.cc-1 {
  -webkit-animation: mockupIn1 0.65s ease-in-out backwards;
          animation: mockupIn1 0.65s ease-in-out backwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.websitepage .home-hero-mockup.cc-2 {
  -webkit-animation: mockupIn2 0.65s ease-in-out backwards;
          animation: mockupIn2 0.65s ease-in-out backwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: auto;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: auto;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes portalIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes portalIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes mockupIn1 {
  0% {
    -webkit-transform: translateY(70px) rotate(-5deg);
            transform: translateY(70px) rotate(-5deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-10deg);
            transform: translateY(0px) rotate(-10deg);
  }
}
@keyframes mockupIn1 {
  0% {
    -webkit-transform: translateY(70px) rotate(-5deg);
            transform: translateY(70px) rotate(-5deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-10deg);
            transform: translateY(0px) rotate(-10deg);
  }
}
@-webkit-keyframes mockupIn2 {
  0% {
    -webkit-transform: translateY(70px) rotate(6deg);
            transform: translateY(70px) rotate(6deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(14deg);
            transform: translateY(0px) rotate(14deg);
  }
}
@keyframes mockupIn2 {
  0% {
    -webkit-transform: translateY(70px) rotate(6deg);
            transform: translateY(70px) rotate(6deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(14deg);
            transform: translateY(0px) rotate(14deg);
  }
}
.websitepage .visible .country-tag-wrap {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.websitepage .feature-visual-price,
.websitepage .price-visual-monthly,
.websitepage .price-visual-tag,
.websitepage .feature-visual-tag {
  -webkit-transition: opacity ease-in-out 320ms, -webkit-transform ease-in-out 320ms;
  transition: opacity ease-in-out 320ms, -webkit-transform ease-in-out 320ms;
  transition: transform ease-in-out 320ms, opacity ease-in-out 320ms;
  transition: transform ease-in-out 320ms, opacity ease-in-out 320ms, -webkit-transform ease-in-out 320ms;
  will-change: transform;
}
.websitepage .feature-visual-tag {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.websitepage .features-card.cc-green:hover .feature-visual-price {
  -webkit-transform: translateY(-35px) scale(0.8);
          transform: translateY(-35px) scale(0.8);
  opacity: 0.1;
}
.websitepage .features-card.cc-green:hover .price-visual-monthly {
  -webkit-transform: translateY(-20px) scale(0.8);
          transform: translateY(-20px) scale(0.8);
  opacity: 0.1;
}
.websitepage .features-card.cc-green:hover .price-visual-tag {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
.websitepage .features-card.cc-green:hover .price-visual-tag.cc-1 {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
.websitepage .features-card.cc-green:hover .price-visual-tag.cc-2 {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.websitepage .features-card.cc-green:hover .price-visual-tag.cc-3 {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}
.websitepage .features-card.cc-green:hover .feature-visual-tag {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  opacity: 0;
}
.websitepage .features-card.cc-blue:hover .qr-scanner {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.websitepage .qr-scanner-highlight {
  -webkit-transition: none;
  transition: none;
}
.websitepage .features-card.cc-blue:hover .qr-scanner-highlight {
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
}
.websitepage .features-card.cc-purple:hover .cc-expat {
  -webkit-animation: cardShuffle 450ms ease-in-out backwards;
          animation: cardShuffle 450ms ease-in-out backwards;
}
.websitepage .features-card.cc-purple:hover .cc-center {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.websitepage .features-card.cc-purple:hover .cc-right {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
@-webkit-keyframes cardShuffle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes cardShuffle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */